@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  --bg-section-color: #202c36;
  --text-color: #fff;
  --bg-color: #2b3844;
  --text-placeholder-color: #fff;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Nunito Sans";
  font-weight: 800;
}

.site-header {
  background-color: var(--bg-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
  padding-top: 23px;
  padding-bottom: 23px;
}

.container {
  width: 1245px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.site-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header-title {
  font-size: 24px;
  line-height: 33px;
  color: var(--text-color);
  margin: 0;
}
.site-header-dark-mode {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.dark-mode-img {
  width: 15px;
  height: 13.75px;
  margin-right: 10px;
}

.site-header-dark-mode-title {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-color);
  margin: 0;
}

.site-header-title-link {
  text-decoration: none;
}

.country-section {
  padding-top: 48px;
  padding-bottom: 45px;
  background-color: var(--bg-section-color);
}

.country-img-link {
  text-decoration: none;
}

.form-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}

.input-search {
  background-color: var(--bg-color);
  background-image: url(../images/search-white.svg);
  background-repeat: no-repeat;
  background-position: 32px 19px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  width: 480px;
  border: none;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 74px;
  margin: 0;
  color: var(--text-color);
}
::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-placeholder-color);
}

.select {
  background-color: var(--bg-color);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  width: 200px;
  border: none;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 24px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-color);
}
.select option {
  background-color: var(--bg-color);
  margin-bottom: 100px;
  border-radius: 10px;
  border: none;
}

.country-section-list {
  display: flex;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  justify-content: space-between;
}

.country-section-item {
  background: var(--bg-color);
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
  border-radius: 5px;
  margin-top: 0;
  width: 264px;
  margin-bottom: 63px;
}

.country-section-item:nth-child(5) {
  margin-bottom: 0px;
}
.country-section-item:nth-child(6) {
  margin-bottom: 0px;
}
.country-section-item:nth-child(7) {
  margin-bottom: 0px;
}
.country-section-item:nth-child(8) {
  margin-bottom: 0px;
}

.country-img {
  width: 264px;
  height: 160px;
  border-radius: 5px 5px 0px 0px;
}

.country-section--title-box {
  padding: 24px 0px 46px 24px;
}

.country-section--title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 26px;
  color: var(--text-color);
}
.country-section-subtitle {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 8px;
}
.country-section-subtitle:last-child {
  margin-bottom: 0;
}
.country-section-subtitle-bold {
  font-size: 14px;
  line-height: 16px;
  color: var(--text-color);
}
